@font-face {
  font-family: "Zpix";
  src: url("../public/fonts/zpix.ttf") format("truetype");
}

:root {
  background-image: url("../public/backgrounds/tile.png");

  /* Ensure the image covers the entire background */
  background-size: auto;
  background-repeat: repeat;

  /* Fix the background to the viewport */
  background-attachment: fixed;
}

body {
  font-family: "Zpix", sans-serif;
}

header > h1,
h2 {
  text-align: center;
  color: #3f2ca2;
}

aside {
  margin-left: 275px;
}

article {
  position: fixed;
  left: 37%;
  top: 25%;
  width: 500px;
  background-color: #9fe6f2;
  color: black;
  border: solid #433097 2px;
  box-shadow: 3px 3px #00000080;
  padding: 4px;
  z-index: 2;
}

article > div {
  padding: 4px;
  border: solid #433097 2px;
  margin-bottom: 4px;
}

.heading {
  display: flex;
  background-color: #f5cdee;
  height: 25px;
  width: auto;
  justify-content: space-between;
  cursor: pointer;
}

.heading > p {
  margin: 0;
}

.content {
  background-color: #fdfdfc;
  color: #363488;
}

.heading > button {
  width: 20px;
  height: 20px;
}

aside > p {
  color: #3f2ca2;
}

.sidebar {
  background-image: url("../public/backgrounds/day.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  position: fixed;
  height: 100vh;
  width: 242px;
  top: 0;
}

.left {
  left: 0;
}

.right {
  right: 0;
  transform: scaleX(-1);
}

@media (max-width: 750px) {
  .sidebar {
    display: none;
  }

  aside {
    margin-left: 5px;
  }
}